{% extends "birdnotes/base.html" %}
{% load static %}
{% block title %}New Observation{% endblock %}
{% block content %}
{% load bootstrap5 %}
<section class="section">
    <div class="container">
        <h2 class="text-center section-title">Add observation</h2>
        <p class="text-center section-sub-title">Add your observation here.</p>
        <hr class="mx-auto" style="width:10%">
        {% if messages %}
        {% for message in messages %}
        {% bootstrap_messages %}
        {% endfor %}
        {% endif %}

        <nav class="d-flex justify-content-end" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">My Bird Notes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add observation</li>
            </ol>
        </nav>

        <div class="d-flex justify-content-center">
            <div class="card p-3 observation-detail border-0">
                <div class="card-body">
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{field}}
                                {{field.label_tag}}
                            </div>
                            {% for error in field.errors%}
                            <p class="text-danger">{{error}}</p>
                            {% endfor %}
                        {% endfor %}
                        <input type="submit" value="ADD" class="btn standard-btn px-3 text-white">

                    </form>
                    <a href="{% url 'birdnotes:observations_list' %}">
                        <button class="btn mt-2 standard-btn text-white">BACK</button>
                    </a>

                </div>
                </a>

            </div>
        </div>
    </div>

</section>

{% endblock %}
