{% extends "birdnotes/base.html" %}
{% load static %}
{% block title %}Observation{% endblock %}
{% block content %}
{% load bootstrap5 %}


<section class="section">
    <div class="container">
        <h2 class="text-center section-title">Observation</h2>
        <hr class="mx-auto" style="width:10%">
        {% if messages %}
        {% for message in messages %}
        {% bootstrap_messages %}
        {% endfor %}
        {% endif %}
        <nav class="d-flex justify-content-end" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'birdnotes:observations_list' %}">My Bird Notes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Observation</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-end">
        <a href="{% url 'birdnotes:observations_list' %}">
            <button class="btn light-btn mx-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            BACK
            </button>
        </a>
        <a href="{% url 'birdnotes:edit_observation' observation.id %}">
            <button class="btn light-btn mx-1">EDIT</button>
        </a>
        <a href="{% url 'birdnotes:remove_observation' observation.id %}">
            <button class="btn btn-outline-danger mx-1">REMOVE</button>
        </a>
        </div>

        <div class="row g-5 mt-1">

            <div class="col-lg-7">
                <div class="card mb-3 observation-detail border-0" style="width:100%;">
                    <div class="card-body">
                        <h5 class="card-title fs-2 observation-title">{{observation.species.polish_name}}</h5>
                        <p class="text-muted"> {{observation.species.latin_name}}</p>
                        <hr class="divider">
                        <p class="card-text">
                        <ul class="list-unstyled lh-lg">
                            <li><strong>Appearance</strong>: {{observation.appearance}}</li>
                            <li><strong>Gender</strong>: {{observation.Gender}}</li>
                            <li><strong>Behaviour</strong>: {{observation.behaviour}}</li>
                            <li><strong>Date</strong>: {{observation.time}}</li>
                            <li><strong>Place</strong>: {{observation.place}}</li>
                            <li><strong>weather</strong>: {{observation.weather}}</li>
                            <li><strong>Number of birds</strong>: {{observation.number}}</li>
                            <li><strong>Bird Category</strong>: {{observation.species.category}}</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="mt-5">
                    <h4>Detailed description</h4>
                    <p>{{observation.description}}</p>
                </div>
                
            </div>
            {% if observation.photo %}
            <div class="col-lg-5">
                <div class="card mb-3 observation-detail border-0" style="width:100%;">
                    <div class="card-body" style="width:100%;height:100%;">
                        <img class="img-fluid rounded" src="{{ observation.photo.url }}" alt="photo">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}

